<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p id="about">
            Hello myself Shivam,
            I built this website as a node js project to display weather forecast for the given Location.
            Thank you :)
        </p>
    </div>

    {{>footer}}
</body>

</html>